*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    background-color: white;
}

.header{
    background-color: rgba(255, 255, 255, 0);
    position: relative;
}

.navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto auto;
}

.header>.navbar{
    position: absolute;
    width: 100%;
}

.logo{
    width: 25%;
    margin-left: 2rem;
    display: flex;
}

.logo>svg{
    padding-right: 0.5rem;
    width: 24px;
    height: 24px;
}

.navList{
    width: auto;
    margin: 0 0 0 auto;
    list-style: none;
}

.navListItem{
    display: inline;
    padding-right: 3rem;
}

.navLink{
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
}

.login{
    background-color: #181419;
    border-radius: 0.25rem;
}

a{
    text-decoration: none;
    color: white;
}

.entrySection{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to top, #000000, #aaa68c8a), url(images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
}

.mainTitle{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.subTitle{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.registerButton{
    background-color: #3498DB;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}



@media (max-width: 768px){
    header>nav>ul.navList{
        display: none;
    }

    header>nav>a{
        align-items: center;
    }

    .logo>svg{
        padding-right: 0;
    }
}

/*hasta aca era el header*/

.searchMain{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
}

.searchPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.searchInput{
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 0;
    outline: none;
    padding-left: 1rem;
    width: 80%;
}

.pokemonListSection{
    padding: 2rem 0;
    text-align: center;
    background-color: #000000;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
}

.pokemonListContainer{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.pokemonContainer{
    height: 5rem;
    width: 26.6%;
}

.pokemonLink{
    display: flex;
    width: 100%;
    height: 100%;
}

.pokemonImage{
    background-color: rgb(193, 63, 63);
    border-radius: 0.25rem 0 0 0.25rem;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pokemonImage>img{
    height: 80%;
}

.pokemonInfo{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.35rem;
    flex-direction: column;
    background-color: #e73636;
    color: #ffffff;
    width: 70%;
    height: 100%;
}

.pokemonInfo>span{
    font-size: 24px;
    margin-bottom: 0.25rem;
}

.numberPokedex{
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    font-size: 14px;
}

.types{
    display: flex;
    justify-content: space-around;
}

.types>div{
    border-radius: 0.25rem;
}

.types>div>span{
    font-size: 16px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    font-weight: 700px;
}

.one{
    width: 45%;
}

/* Aca empiezo a hacer varios tipos */
.typePlant{
    background-color: #78c850;
}

.typePoison{
    background-color: #a040a0;
}

.typeFire{
    background-color: #f08030;
}

.typeWater{
    background-color: #6890f0;
}

.typeFlying{
    background-color: #a890f0;
}

.typeBug{
    background-color: #a8b820;
}

.typeNormal{
    background-color: #a8a878;
}

.typeElectric{
    background-color: #f8d030;
}

.typeGround{
    background-color: #e0c068;
}

.typeFairy{
    background-color: #ee99ac;
}

.typeFighting{
    background-color: #c02038;
}

.typePsychic{
    background-color: #f85888;
}

.typeRock{
    background-color: #b8a038;
}

.typeSteel{
    background-color: #b8b8d0;
}

.typeIce{
    background-color: #98d8d8;
}

.typeGhost{
    background-color: #705898;
}

.typeDragon{
    background-color: #7038f8;
}
/* fin de los tipos */

.button{
    background-color: #3498DB;
    display: inline-block;
    color: #ffffff;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        background-color: #3498DB;
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);}
}

@media (max-width: 768px){
    .entrySection{
        padding-top: 2rem;
    }

    .entrySection>h1.mainTitle{
        font-size: 2.9rem;
    }

    .entrySection>h2.subTitle{
        font-size: 1.5rem;
    }

    .searchMain>h2.subTitle{
        text-align: center;
    }

    .searchPokemon{
        flex-direction: column;
    }

    .searchInput{
        width: 100%;
    }

    .pokemonListContainer{
        flex-direction: column;
        align-items: center;
    }

    .pokemonContainer{
        width: 75%;
    }
}

/* footer */

.footer{
    background-color: #3498DB;
    color: #ffffff;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 2rem;
}

.footerText{
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer>.navbar>.navList{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer>.navbar>.navList>.navListItem{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 2rem;
}



a.navLink:hover{
    border-color: rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, .1);
}

.pokemonLink:hover, .registerButton:hover{
    box-shadow: 0.25rem -0.25rem 0.85rem #9f3648cd;
    transform: scale(1.1);
    }

@media (max-width: 768px){
    .footer{
        justify-content: start;
        text-align: center;
        height: auto;
        gap: 2rem;
    }

    .footer>nav{
        height: auto;
        margin: 0;
    }

    .footer>nav>ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer>nav>ul>li{
        display: block;
        padding: 0;
    }
}